<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/zat5bvn.css" />
  </head>

  <body>
    <!-- header-->
    <header id="header" class="sticky">
      <a href="/" class="logo">
        <img
          src="/uploads/LimpachtalHonig_Logo_Tannengrün.png"
          alt="Limpachtal Honig"
        />
      </a>
      <div class="nav">
        <ul>
          {{#isActive currentPage "home"}}
            <a href="/" class="active">Home</a>
          {{else}}
            <li><a href="/" onclick="toggle()">Home</a></li>
          {{/isActive}}
          <li><a href="/produkte" onclick="toggle()">Produkte</a></li>
          <li><a href="/ueber_uns" onclick="toggle()">Über Uns</a></li>
          <li>
            <a href="/warenkorb" onclick="toggle()"><div
                class="image-hover"
              ></div></a>
          </li>
        </ul>
      </div>
      <div class="toggle" onclick="toggle()">
        <i data-feather="menu"></i>
      </div>
    </header>

    {{{body}}}

    <footer id="footer">
      <section class="footer_nav">
        <a href="/impressum">Impressum</a>
        <a
          href="https://www.instagram.com/photographieoderso/"
          target="_blank"
        >© Julia Ruchti</a>
      </section>
    </footer>
  </body>

</html>