<!-- banner-->

<div class="box">
  <div class="intro">
    <h2>Impressum</h2>
    <p class="impressum">
      Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder
      anderen Dateien auf der Website gehören Hans Ruchti und Julia Ruchti oder
      den speziell genannten Rechtsinhabern. Für die Reproduktion jeglicher
      Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus
      einzuholen.
    </p>

    <ul class="impressum">
      <li>
        <a
          class="link"
          href="https://unsplash.com/photos/OFEvgVfr6iU"
          target="_blank"
        >Abbildung "Limpachtal Honig"</a>
      </li>
      <li>
        <a
          class="link"
          href="https://unsplash.com/photos/gi1f13S1-64"
          target="_blank"
        >Abbildung "Produkte"</a>
      </li>
      <li>
        <a
          class="link"
          href="https://unsplash.com/photos/GhILZ5ZpUbc"
          target="_blank"
        >Abbildung "Über Uns"</a>
      </li>

      <li>
        <a
          class="link"
          href="https://unsplash.com/photos/JN1Lvw3EJaU"
          target="_blank"
        >Abbildung "Kontakt"</a>
      </li>

      <li>
        <a
          class="link"
          href="https://unsplash.com/photos/yxXpjF-RrnA"
          target="_blank"
        >Abbildung "Unsere Verkauspartner"</a>
      </li>

      <li>
        <a
          class="link"
          href="https://unsplash.com/photos/puMOiZaaxWI"
          target="_blank"
        >Abbildung "Standorte"</a>
      </li>
    </ul>
  </div>
</div>