<div class="box">
  <div class=" intro">
    <h2>Information</h2>
    <p>
      Du kannst deine Bestellung bereits am nächsten Tag an unserer
      Verkaufsstätte in  <a class="link" href="https://maps.app.goo.gl/5mntFm7mnjENtpDm6" target=”_blank” >Hauptstrasse 9, 3317 Mülchi</a> abholen. Falls du dir
      eine Lieferung wünscht, kannst du uns über <a class="link" href="mailto:limpachtal-honig@gmail.com">limpachtal-honig@gmail.com</a>
      kontaktieren.</p>
    </p>
    <h2>Unsere Produkte</h2>
  </div>
</div>
  <section class="Produkte">
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/1_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
        Frühlingshonig 1000g<br />CHF 26</p>
      </div>

    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/2_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
              Frühlingshonig 500g<br />CHF 20</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/3_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
              Frühlingshonig 250g<br />CHF 12</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/4_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
        Sommerhonig 1000g<br />CHF 26<br /></p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/5_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
        Sommerhonig 500g<br />CHF 20</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/6_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
        Sommerhonig 250g<br />CHF 15</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/7_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
        Waldhonig 1000g<br />CHF 26</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/8_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
              Waldhonig 500g<br />CHF 20</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/9_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
              Waldhonig 250g<br />CHF 15</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/10_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
              Geschenkset Frühlingshonig und Sommerhonig je 500g <br>
              CHF 40</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/11_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
              Geschenkset Frühlingshonig und Waldhonig je 500g <br>
              CHF 40</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/12_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
              Geschenkset Sommerhonig und Waldhonig je 500g <br>
              CHF 40</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/13_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
              Geschenkset Frühlingshonig und Waldhonig je 250g <br>
              CHF 35</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/14_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
              Geschenkset Sommerhonig und Waldhonig je 250g <br>
              CHF 35</p>
      </div>
    </div>
    <div class="parent">
      <img
        class="Bild"
        src="/uploads/15_Honig_Produktfotos.jpg"
        alt="Bild"
      />
      <div class="img_description">
          <p>
              Geschenkset Frühlingshonig und Sommerhonig je 250g <br>
              CHF 35</p>
      </div>
    </div>
  </section>