<!-- banner-->
<section class="hero start_hero" id="hero">
  <div><h1>Limpachtal Honig</h1></div>
  <div class="Produkte_Button">
    <button class="button Produkte_Button">
      <a href="/produkte">zum Shop</a>
    </button>
  </div>
</section>