<!-- People -->
<div class="box">
  <div class="intro">
    <h2>Über uns</h2>
    <p>
      Du erreichst uns über die E-Mail-Adresse limpachtal-honig@gmail.com.
    </p>
  </div>
</div>

<section class="Wir">
  <div class="person">
    <img class="Bild" src="/uploads/Hausi.jpg" alt="Bild" />
    <div><p class="img_description">Hans Ruchti</p></div>
  </div>
  <div class="person">
    <img class="Bild" src="/uploads/Grosi.JPG" alt="Bild" />
    <div><p class="img_description">Rosmarie Ruchti</p></div>
  </div>
</section>
  </section>
</div>

<!--Verkaufspartner-->
<div class="box">
  <section class="verkaufspartner">
    <h2>Verkaufspartner</h2>
    <p>An diesen Verkaufsstätte kannst du unseren Honig ebenfalls kaufen.</p>
  </section>
</div>